<%= provide(:title, 'View discussion') %>

<div class="row">
	<div class="span8 offset2">
		<h2><%= @discussion.subject %></h2>
		<div class="discussion-container">
			<div class="avatar">
				<%= gravatar_for @discussion.user %><br/>
				<%= link_to @discussion.user.name, @discussion.user %>
			</div>
			<div class="discussion-content-container">
				<div class="discussion">
					<%= sanitize_content @discussion.content %><br/>
				</div>
				<hr/>
			    <div class="history-container">
			        <%= render partial: 'shared/changelogs_mini', object: @discussion.changelogs, as: 'changelogs' %>
			    </div>
				<% if current_user == @discussion.user || current_user.admin? %>
					<div class="edit-delete">
			       		<%= link_to 'Edit', edit_discussion_path(@discussion) %>
					       | <%= link_to 'Delete', @discussion, confirm: 'Are you sure?', method: :delete %>
					</div>
			    <% end %>
			</div>
		</div>
		<hr/>

		<div class="comments">
			<%= render partial: @comments, spacer_template: "comments/comment_ruler" %>
		</div>

		<div class="new-comment">
			<%= render 'comments/form' %>
		</div>

		<%= will_paginate @comments %>

		<div class="links">
			<%= link_to 'All Discussions', discussions_path %>
		    <% if current_user == @discussion.user || current_user.admin? %>
		       | <%= link_to 'Edit', edit_discussion_path(@discussion) %>
		       | <%= link_to 'Delete', @discussion, confirm: 'Are you sure?', method: :delete %>
		    <% end %>
		</div>
	</div>
</div>
