<% unless comment.new_record? %>
	<div class="comment-container">
		<div class="small-avatar">
			<%= gravatar_for comment.user, size: 24 %><br/>
			<%= link_to comment.user.name, comment.user %>
		</div>
		<div class="comment-content-container">
			<div class="comment"><%= sanitize_allow_minimal_html comment.content %></div>
			<div class="history-container">
		        <%= render partial: 'shared/changelogs_mini', object: comment.changelogs, as: 'changelogs' %>
		    </div>
			<% if current_user == comment.user || current_user.admin? %>
				<div class="edit-delete">
		       		<%= link_to 'Edit', edit_comment_path(comment) %>
				       | <%= link_to 'Delete', comment, confirm: 'Are you sure?', method: :delete %>
				</div>
		    <% end %>
		</div>

	</div>
<% end %>
