<%= provide(:title, 'View event') %>
<h1>Event details</h1>

<div class="row">
  <div class="span6 offset3" id="event-show">
    <div id="event-name">
      <p>
        <b>Name:</b>
        <%= @event.name %>
      </p>
    </div>

    <% unless @event.location.blank? %>
      <div id="event-location">
        <p>
          <b>Location:</b>
          <%= @event.location %>
        </p>
      </div>
    <% end %>

    <% unless @event.description.blank? %>
      <div id="event-description">
        <p>
          <b>Description:</b>
          <%= sanitize_allow_minimal_html @event.description %>
        </p>
      </div>
    <% end %>

    <div id="event-start_at">
      <p>
        <b>Start:</b>
        <%= format_datetime @event.start_at %>
      </p>
    </div>

    <hr/>

    <div class="history-container" id="event-history">
        <%= render partial: 'shared/changelogs_mini', object: @event.changelogs, as: 'changelogs' %>
    </div>

    <div id="links-events">
      <%= link_to 'All Events', events_path, id: 'events-link' %>
      <% if current_user == @event.user || current_user.admin? %>
         | <%= link_to 'Edit', edit_event_path(@event), id: 'event-edit-link' %>
         | <%= link_to 'Delete', @event, confirm: 'Are you sure?', method: :delete, id: 'event-delete-link' %>
      <% end %>
    </div>
  </div>
</div>