<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
			<%= link_to "SocialCamp", root_path, class: "brand" %>
			<div class="nav-collapse">
			<nav>
				<% if signed_in? %>
				<ul class="nav">
					<li><%= link_to "Discussions", discussions_path %></li>
					<li><%= link_to "Events", events_path %></li>
					<li><%= link_to "People", users_path %></li>
				</ul>
				<% end %>
				<ul class="nav pull-right">
					<li><%= link_to "Help", help_path %></li>
					<%= render 'layouts/sign_in_sign_out' %>
				</ul>
			</nav>
			</div>
		</div>
	</div>
</header>